header {
background-color:grey;
font-size:2em;
text-align: center;
}
main {
    font-size:2em;
    background-color: azure;
}
.p1 {
color:rgb(139, 139, 34);
}
.im {
margin-right: 50px;
}
p2 {
text-align: center;
}
.animated-text h2{
    font-size: 6vw;
    color:aliceblue;
    width:0;
    overflow: hidden;
    border-right: 3px solid white;
    white-space: nowrap;
    animation: typing 4s steps(30,end),blink 0.7s infinite;
}
@keyframes typing{
    from{ width:0;}
    to{width:100%;}
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}